# Default ignored files
/shelf/
/workspace.xml
/Debug/
VehicleControlUnit.launch
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# IDE configuration
.vscode/

### Additional rules for build artifacts and directories ###

# Object files and Dependencies
*.o
*.d
*.out

# Object directorys
/obj/

### End of additional rules ###
